.stars {
    display: flex;
}
.stars__star {
    font-size: 38px;
}
@media screen and (max-width: 768px) {
    .stars__star {
        font-size: 28px;
    }
}
.stars__star--active {
    color: #FF6060;
}
.stars__star--inactive {
    color: #E3E3E3;
}
