.home__houses {
    background-color: #F6F6F6;
    border-radius: 1.5em;
    margin: 57px auto 4em auto;
    padding: 2em;
    width: 82vw;
}
.home__houses__list {
    width: 82vw;
    list-style-type: none;
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0px;
    /* margin-top: 100px; */
}
@media screen and (max-width: 1200px) {
    .home__houses__list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .home__houses {
        /* margin: 1.5em auto 3em auto; */
        /* margin-left: 18px; */
        background: unset;
        padding: 0;
        width: 90vw;
        /* margin-left: 24px; */
    }
    .home__houses__list {
        gap: 1.5em;
        grid-template-columns: repeat(1, 1fr);
        width: 90vw;
    }
}
