.footer {
    /* width: 1440px; */
    align-items: center;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    left: 0;
    padding: 1em;
    position: absolute;
    
    right: 0;

}
.footer p{
    font-weight: 500;
}
.footer img{
    height: 32px;
}
@media screen and (max-width: 768px) {
    .footer {
        font-size: 12px;
        align-items: center;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        font-size: 24px;
        left: 0;
        height: 150px;
         padding: 1em;  
         right: 0;
        
    }
    .footer p { 
        /* margin-top: -25px; */
        font-size: 14px;

    }

    .footer__logoContainer{
       margin: 0px;
       padding: 0px;
    }
}
/* .footer__logoContainer {
    margin: 1em;
} */
