.slider {
    background: #FF6060;
    border-radius: 1em;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 85vw;
}
.slider__content img {
    height: 415px;
    object-fit: cover;
    vertical-align: bottom;
    width: 100%;
}
.slider__count {
    color: white;
    bottom: 1em;
    font-size: 18px;
    font-weight: 500;
    left: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.slider__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
}
.slider__arrow--left {
    left: 1em;
    transform: translateY(-50%);
}
.slider__arrow--right {
    right: 1em;
    transform: translateY(-50%) rotate(180deg);
}
@media screen and (max-width: 768px) {
    .slider {
        width: 90vw;
    }
    .slider__content img {
        height: 250px;
    }
    .slider__count {
        display: none;
    }
    .slider__arrow img {
        width: 15px;
    }
}
